

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face
{
font-family: 'infinityFont';
src: url(../fonts/MalleableGrotesque.otf);
}
   
 .whitefont {
    color:#ffffff;
 }
 .yellowfont {
    color: #cc9035;
 }
.greyfont {
    font-family:'infinityFont';
    font-size: 140%;
    color: #9b8579;
}
.greyfont h2{
    font-family:'infinityFont';
    font-size: 200%;
    color: #9b8579;
}

.bluefont {
    font-family:'Lucida Sans Unicode';
    color: #303c56;
}

.justified {
    text-align: justify;
    padding-bottom: 10px;
}

.jumbotron {
    padding-top: 0px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    5px 5px 10px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         5px 5px 10px 0px rgba(50, 50, 50, 0.64);
}

.bluebgn {
    background-color: #303c56;
 }
 
 .greybgn {
    background-color: #c4c4c3;
 }
 
.jumbotron .bannertext {
    margin-left: 70px;
    padding-top: 60px;
    float: left;
}

.quotebgn {
    height: 350px;
    background-size: cover;
}

.jumbotron .quotetext { 
    margin-top: 75px;
    font-family:'Lucida Sans Unicode';
    text-align: center;
    display: none;
    z-index:1;
}

.jumbotron .quotetext  p {

    color: #ffffff;
    margin: auto;
    vertical-align: middle;
    font-size: 200%;
}

.jumbotron .quoteauthor {
    font-family:'Lucida Sans Unicode';
    font-style: italic;
    text-align: center;
    font-size: 70%;
    color:  #ffffff;
    display: none;
}

.jumbotron .bannertext .title {
    color: #ffffff;
    font-family:'infinityFont';
    font-size: 96px;
}

.jumbotron .bannertext .subtext {
    color: #cc9035;
    font-family: Lucida Sans Unicode;
    font-size: 100%;
}

.jumbotron img.bannerimg {
    float: right;
    margin-right: 150px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    5px 5px 10px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         5px 5px 10px 0px rgba(50, 50, 50, 0.64);
}

.sectionheader {
    margin-top: 0;
}

.footerbar {
    width: 100%;
    background-color: #303c56;
    height: 100px;
}

.copyright {
    position: relative;
    float: right;
}

.spacer {
    margin-top: 80px; /* define margin as you see fit */
}

ul,li { 
    color: #303c56;
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding: 0;
    padding-bottom:10px; 
    font-family: Lucida Sans Unicode;
    font-size: 90%;
}

/**
** Social Media Icons
**/
.icons {
    text-align: center;
}

.icons a {
    display: inline-block;
    height: 64px;
    width: 64px;
    background-size: 64px 64px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 15px;
    text-indent: -9999em;
    background-color: #1c2638;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    5px 5px 10px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         5px 5px 10px 0px rgba(50, 50, 50, 0.64);
}

/**
** Responsive Classes
**/
@media (max-width: 1200px) {
    
    .jumbotron .bannertext h1.title {
        font-size: 80px;
    }
    .spacer {
        margin-top: 0; /* define margin as you see fit */
    }
    
    .visible-desktop {
        display: none;
     }
}

@media (max-width: 620px) {
    .jumbotron .bannertext h1.title {
        font-size: 50px;
    }
    .icons a {
        height: 48px;
        width: 48px;
        background-size: 48px 48px;
        margin: 10px;
    }
    
    .jumbotron .bannertext .subtext {
        color: #cc9035;
        font-family: Lucida Sans Unicode;
        font-size: 80%;
    }
}












