/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'infinityFont';
  src: url(../fonts/MalleableGrotesque.otf);
}
@font-face {
  font-family: 'Lucida Sans Unicode';
  src: url(../fonts/lucidasansunicode.ttf);
}
/* line 18, ../sass/main.scss */
.whitefont {
  color: #ffffff;
}

/* line 21, ../sass/main.scss */
.yellowfont {
  color: #cc9035;
}

/* line 24, ../sass/main.scss */
.greyfont {
  font-family: 'infinityFont';
  font-size: 140%;
  color: #9b8579;
}

/* line 29, ../sass/main.scss */
.greyfont h2 {
  font-family: 'infinityFont';
  font-size: 200%;
  color: #9b8579;
}

/* line 35, ../sass/main.scss */
.bluefont {
  font-family: 'Lucida Sans Unicode';
  color: #303c56;
}

/* line 40, ../sass/main.scss */
.justified {
  text-align: justify;
  padding-bottom: 10px;
}

/* line 45, ../sass/main.scss */
.jumbotron {
  padding-top: 0px;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.64);
  box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.64);
}

/* line 52, ../sass/main.scss */
.bluebgn {
  background-color: #303c56;
}

/* line 56, ../sass/main.scss */
.greybgn {
  background-color: #c4c4c3;
}

/* line 60, ../sass/main.scss */
.jumbotron .bannertext {
  margin-left: 15%;
  padding-top: 10%;
  float: left;
  vertical-align: middle;
}

/* line 67, ../sass/main.scss */
.quotebgn {
  height: 350px;
  background-color: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* line 76, ../sass/main.scss */
.jumbotron .quotecontainer {
  margin-top: 75px;
  font-family: 'Lucida Sans Unicode';
  vertical-align: middle;
  display: none;
}

/* line 83, ../sass/main.scss */
.jumbotron .quotetext {
  color: #ffffff;
  margin: auto;
  font-size: 200%;
  line-height: 1.2;
  text-align: justified;
  text-justify: inter-word;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 94, ../sass/main.scss */
.jumbotron .quoteauthor {
  font-family: 'Lucida Sans Unicode';
  font-style: italic;
  text-align: center;
  font-size: 80%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  white-space: pre;
  display: none;
}

/* line 105, ../sass/main.scss */
.jumbotron .bannertext .title {
  color: #ffffff;
  font-family: 'infinityFont';
  font-size: 96px;
}

/* line 111, ../sass/main.scss */
.jumbotron .bannertext .subtext {
  color: #cc9035;
  font-family: Lucida Sans Unicode;
  font-size: 100%;
}

/* line 117, ../sass/main.scss */
.jumbotron img.bannerimg {
  float: right;
  margin-right: 150px;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.64);
  box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.64);
}

/* line 125, ../sass/main.scss */
.sectionheader {
  margin-top: 0;
  font-size: 48px;
}

/* line 130, ../sass/main.scss */
<<<<<<< HEAD
#projects {
  min-height: 450px;
}

/* line 135, ../sass/main.scss */
=======
.projectsquare {
  background-size: cover;
  margin-top: 10px;
  margin-right: 5px;
}

/* line 136, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.skillBlock {
  height: 70px;
  display: none;
}

<<<<<<< HEAD
/* line 140, ../sass/main.scss */
=======
/* line 142, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.skillBlock .php {
  text-align: right;
  background-image: -ms-linear-gradient(left, #eff0f0 0%, #99c 60%);
  /* IE10 Consumer Preview */
  background-image: -moz-linear-gradient(left, #eff0f0 0%, #99c 60%);
  /* Mozilla Firefox */
  background-image: -o-linear-gradient(left, #eff0f0 0%, #99c 60%);
  /* Opera */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #eff0f0), color-stop(0.6, #99c));
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-linear-gradient(left, #eff0f0 0%, #99c 60%);
  /* Webkit (Chrome 11+) */
  background-image: linear-gradient(to right, #eff0f0 0%, #99c 60%);
  /* W3C Markup, IE10 Release Preview */
}

<<<<<<< HEAD
/* line 150, ../sass/main.scss */
=======
/* line 152, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.skillBlock .html5 {
  text-align: left;
  background-image: -ms-linear-gradient(right, #eff0f0 0%, #e34a22 60%);
  /* IE10 Consumer Preview */
  background-image: -moz-linear-gradient(right, #eff0f0 0%, #e34a22 60%);
  /* Mozilla Firefox */
  background-image: -o-linear-gradient(right, #eff0f0 0%, #e34a22 60%);
  /* Opera */
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #eff0f0), color-stop(0.6, #e34a22));
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-linear-gradient(right, #eff0f0 0%, #e34a22 60%);
  /* Webkit (Chrome 11+) */
  background-image: linear-gradient(to left, #eff0f0 0%, #e34a22 60%);
  /* W3C Markup, IE10 Release Preview */
}

<<<<<<< HEAD
/* line 160, ../sass/main.scss */
=======
/* line 162, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.skillBlock .jquery {
  text-align: right;
  background-image: -ms-linear-gradient(left, #eff0f0 0%, #0769AD 60%);
  /* IE10 Consumer Preview */
  background-image: -moz-linear-gradient(left, #eff0f0 0%, #0769AD 60%);
  /* Mozilla Firefox */
  background-image: -o-linear-gradient(left, #eff0f0 0%, #0769AD 60%);
  /* Opera */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #eff0f0), color-stop(0.6, #0769AD));
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-linear-gradient(left, #eff0f0 0%, #0769AD 60%);
  /* Webkit (Chrome 11+) */
  background-image: linear-gradient(to right, #eff0f0 0%, #0769AD 60%);
  /* W3C Markup, IE10 Release Preview */
}

<<<<<<< HEAD
/* line 170, ../sass/main.scss */
=======
/* line 172, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.skillBlock .css3 {
  text-align: left;
  background-image: -ms-linear-gradient(right, #eff0f0 0%, #8AC007 60%);
  /* IE10 Consumer Preview */
  background-image: -moz-linear-gradient(right, #eff0f0 0%, #8AC007 60%);
  /* Mozilla Firefox */
  background-image: -o-linear-gradient(right, #eff0f0 0%, #8AC007 60%);
  /* Opera */
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #eff0f0), color-stop(0.6, #8AC007));
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-linear-gradient(right, #eff0f0 0%, #8AC007 60%);
  /* Webkit (Chrome 11+) */
  background-image: linear-gradient(to left, #eff0f0 0%, #8AC007 60%);
  /* W3C Markup, IE10 Release Preview */
}

<<<<<<< HEAD
/* line 180, ../sass/main.scss */
=======
/* line 182, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.skillBlock .mysql {
  text-align: right;
  background-image: -ms-linear-gradient(left, #eff0f0 0%, #e97b00 60%);
  /* IE10 Consumer Preview */
  background-image: -moz-linear-gradient(left, #eff0f0 0%, #e97b00 60%);
  /* Mozilla Firefox */
  background-image: -o-linear-gradient(left, #eff0f0 0%, #e97b00 60%);
  /* Opera */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #eff0f0), color-stop(0.6, #e97b00));
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-linear-gradient(left, #eff0f0 0%, #e97b00 60%);
  /* Webkit (Chrome 11+) */
  background-image: linear-gradient(to right, #eff0f0 0%, #e97b00 60%);
  /* W3C Markup, IE10 Release Preview */
}

<<<<<<< HEAD
/* line 190, ../sass/main.scss */
=======
/* line 192, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.skillBlock .csharp {
  text-align: left;
  background-image: -ms-linear-gradient(right, #eff0f0 0%, #68217a 60%);
  /* IE10 Consumer Preview */
  background-image: -moz-linear-gradient(right, #eff0f0 0%, #68217a 60%);
  /* Mozilla Firefox */
  background-image: -o-linear-gradient(right, #eff0f0 0%, #68217a 60%);
  /* Opera */
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #eff0f0), color-stop(0.6, #68217a));
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-linear-gradient(right, #eff0f0 0%, #68217a 60%);
  /* Webkit (Chrome 11+) */
  background-image: linear-gradient(to left, #eff0f0 0%, #68217a 60%);
  /* W3C Markup, IE10 Release Preview */
}

<<<<<<< HEAD
/* line 200, ../sass/main.scss */
=======
/* line 202, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.skillBlock .java {
  text-align: right;
  background-image: -ms-linear-gradient(left, #eff0f0 0%, #DE0000 60%);
  /* IE10 Consumer Preview */
  background-image: -moz-linear-gradient(left, #eff0f0 0%, #DE0000 60%);
  /* Mozilla Firefox */
  background-image: -o-linear-gradient(left, #eff0f0 0%, #DE0000 60%);
  /* Opera */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #eff0f0), color-stop(0.6, #DE0000));
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-linear-gradient(left, #eff0f0 0%, #DE0000 60%);
  /* Webkit (Chrome 11+) */
  background-image: linear-gradient(to right, #eff0f0 0%, #DE0000 60%);
  /* W3C Markup, IE10 Release Preview */
}

<<<<<<< HEAD
/* line 211, ../sass/main.scss */
=======
/* line 213, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.skillBlock .c {
  text-align: left;
  background-image: -ms-linear-gradient(right, #eff0f0 0%, #99C0FF 60%);
  /* IE10 Consumer Preview */
  background-image: -moz-linear-gradient(right, #eff0f0 0%, #99C0FF 60%);
  /* Mozilla Firefox */
  background-image: -o-linear-gradient(right, #eff0f0 0%, #99C0FF 60%);
  /* Opera */
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #eff0f0), color-stop(0.6, #99C0FF));
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-linear-gradient(right, #eff0f0 0%, #99C0FF 60%);
  /* Webkit (Chrome 11+) */
  background-image: linear-gradient(to left, #eff0f0 0%, #99C0FF 60%);
  /* W3C Markup, IE10 Release Preview */
}

<<<<<<< HEAD
/* line 221, ../sass/main.scss */
=======
/* line 223, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.skillFont {
  color: #fff;
  font-family: 'infinityFont';
  font-size: 180%;
}

<<<<<<< HEAD
/* line 227, ../sass/main.scss */
=======
/* line 229, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.timelineCol {
  padding-right: 0px;
}

<<<<<<< HEAD
/* line 231, ../sass/main.scss */
=======
/* line 233, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.spacer {
  margin-top: 80px;
  /* define margin as you see fit */
}

<<<<<<< HEAD
/* line 235, ../sass/main.scss */
=======
/* line 237, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
ul, li {
  color: #303c56;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-family: Lucida Sans Unicode;
  font-size: 90%;
}

/**
** Social Media Icons
**/
<<<<<<< HEAD
/* line 249, ../sass/main.scss */
=======
/* line 251, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.icons {
  text-align: center;
}

<<<<<<< HEAD
/* line 253, ../sass/main.scss */
=======
/* line 255, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.icons a {
  display: inline-block;
  height: 64px;
  width: 64px;
  background-size: 64px 64px;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 15px;
  text-indent: -9999em;
  background-color: #1c2638;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.64);
  box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.64);
}

/**
** Footer 
**/
<<<<<<< HEAD
/* line 271, ../sass/main.scss */
=======
/* line 273, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.footerbar {
  width: 100%;
  background-color: #303c56;
  height: 500px;
  text-align: center;
}

<<<<<<< HEAD
/* line 278, ../sass/main.scss */
=======
/* line 280, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.footertext {
  text-align: center;
  font-family: 'infinityFont';
  font-size: 400%;
  color: #ffffff;
  padding-top: 120px;
}

<<<<<<< HEAD
/* line 286, ../sass/main.scss */
=======
/* line 288, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.footeremail {
  text-align: center;
  font-family: 'Lucida Sans Unicode';
  padding-top: 20px;
  font-size: 350%;
  color: #cc9035;
}

<<<<<<< HEAD
/* line 294, ../sass/main.scss */
=======
/* line 296, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.footerimg {
  margin-top: 40px;
}

<<<<<<< HEAD
/* line 298, ../sass/main.scss */
=======
/* line 300, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
a:hover {
  color: #c4c4c3;
  text-decoration: none;
}

<<<<<<< HEAD
/* line 303, ../sass/main.scss */
=======
/* line 305, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
.copyright {
  position: relative;
  float: right;
  bottom: 0;
  color: #c4c4c3;
  padding-top: 50px;
  padding-right: 20px;
}

/**
** Responsive Classes
**/
@media (max-width: 1200px) {
<<<<<<< HEAD
  /* line 319, ../sass/main.scss */
=======
  /* line 321, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
  .jumbotron .bannertext h1.title {
    font-size: 80px;
  }

<<<<<<< HEAD
  /* line 322, ../sass/main.scss */
=======
  /* line 324, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
  .spacer {
    margin-top: 0;
    /* define margin as you see fit */
  }

<<<<<<< HEAD
  /* line 326, ../sass/main.scss */
=======
  /* line 328, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
  .visible-desktop {
    display: none;
  }

<<<<<<< HEAD
  /* line 330, ../sass/main.scss */
=======
  /* line 332, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
  .quotebgn {
    background-size: cover;
  }

<<<<<<< HEAD
  /* line 334, ../sass/main.scss */
=======
  /* line 336, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
  .jumbotron .quotetext p {
    font-size: 120%;
  }
}
@media (max-width: 620px) {
<<<<<<< HEAD
  /* line 341, ../sass/main.scss */
=======
  /* line 343, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
  .jumbotron .bannertext h1.title {
    font-size: 50px;
  }

<<<<<<< HEAD
  /* line 344, ../sass/main.scss */
=======
  /* line 346, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
  .icons a {
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
    margin: 7px;
    margin-bottom: 30px;
  }

<<<<<<< HEAD
  /* line 352, ../sass/main.scss */
=======
  /* line 354, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
  .jumbotron .bannertext .subtext {
    color: #cc9035;
    font-family: Lucida Sans Unicode;
    font-size: 80%;
  }

<<<<<<< HEAD
  /* line 358, ../sass/main.scss */
=======
  /* line 360, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
  .quotebgn {
    display: none;
  }

<<<<<<< HEAD
  /* line 362, ../sass/main.scss */
=======
  /* line 364, ../sass/main.scss */
>>>>>>> 914c132d2c9bdab46e815ced9ac388835a41d6f2
  .abouttext {
    font-size: 80%;
  }
}
